body {
    padding: 10px;
}

span {
	color: blue;
}

img {
    max-width: 100%;
    width: 100%; 
    height:100%;
    object-fit: contain;
    display: block;
    
}


.contain-listing {
    border: 1px lightgrey solid;
    margin: 5px;
    align-items: center;
    padding: 5px;


}




